/* styles.css */
body {
    display:flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}
.box-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-logo {
    background-color: green;
    display: flex;
    flex-basis: 50%;
    justify-content: center;

}
.top-links {
    background-color: yellow;
    flex-basis: 50%;
}
.box-1-blerb {
    background-color: orange;
    flex-basis: 50%;
}
.box-1-image {
    background-color: red;
    flex-basis: 50%;
}
ul {
    list-style: none;
}
li {
    float: left;
    padding: 8px;
}
