/* styles.css */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;    
}

.box-1, .box-2, .box-3 {
    height: 400px;
}
.box-1 {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
}
.header-logo, .top-links, .box-1-blerb, .box-1-image {
    display: flex;
    flex: 0 0 50%;
}
.header-logo {
    justify-content: center;
    align-items: flex-start;
    height: 35%;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #1F2937;
}
.top-links {
    justify-content: center;
    height: 35%;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}
ul {
    list-style: none;
    margin: 0px;
}
li {
    display: inline-flex; 
    padding-right: 12px;
}
.box-1-blerb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 65%;
}
.box-1-image {
    height: 65%;
}
.box-1-blerb-header, .box-1-blerb-subtext, .box-1-blerb-button {
    max-width: 500px;
    display: inline-block;
    align-content: left;
}
.box-1-blerb-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.box-1-blerb-subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.box-1-blerb-button {
    margin-right: 410px;
    margin-top: 8px;
}
.box-1-blerb-button button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;

}
.box-2 {
    background-color: white;
}
.box-3 {
    background-color: #E5E7EB;
}
.box-4 {
    background-color: white;
    height: 250px;
}
.footer {
    background-color: #1F2937;
    height: 50px;
}